@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Roboto, sans-serif;
  font-size: 13pt;
  line-height: auto;
  color: black;
  text-align: justify;
}

#cabecalho {
  text-align: center;
  background-color: rgb(53, 34, 45);
  color: white;
  position: fixed;
  width: 100%;
  padding: 10px;
  top: 0;
  height: 100px;
}

#container {
  width: 60%;
  margin: auto;
  background-color: lightgray;
}

#minha_foto {
  box-shadow: 3px 3px 3px black;
  margin: 140px 0 0 50px;
  float: left;
  border-radius: 30%;
}

figcaption {
  margin: 20px 100px;
  display: inline-block;
}

figcaption span {
  text-shadow: 1px 1px black;
}

#tabela {
  float: right;
  margin: 200px; 
  width: 200px;
  background-color: rgb(96, 107, 101);
  color: white;
  box-shadow: 3px 3px 3px black;
}

#tabela span {
  margin-right: 25px;
}

#tabela-imagem {
  overflow: auto;
  display: flex;
}

tr , th , td {
  border: 2px solid black;
  width: 500px;
  text-align: center;
}

#listas {
  display: flex;
  margin: 0 70px 50px;
  padding: 50px;
}

ol , ul {
  margin-right: 150px;
}

#textos {
  display: flex;
  border: 5px solid rgb(105, 46, 46);
  box-shadow: 3px 3px 3px;
  padding: 20px;
  margin: 50px;
}

#textos a {
  color: black;
}

#textos a:hover{
  color: rgb(14, 148, 182);
  }

#titulo-listas {
  margin: 0 0 20px 50px;
}

.lado-esquerdo {
  margin-right: 50px;
}

.lado-direito {
  margin-right: 50px;
}

#rodape {
  background-color: rgb(53, 34, 45);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(14, 182, 103);
}

a:active {
  color: rgb(164, 197, 18);
}