@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgb(234, 234, 234);
  }

  header {
    background-color: rgb(115, 98, 138);
    color: white;
    font-weight: 600;
    width: 100%;
    padding: 10px 10px 0 10px;
  }

  header h1 {
    font-size: xx-large;
    text-align: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
  }

  nav ul li {
    margin-right: 10px;
    font-size: large;
  }

  body p {
    text-align: justify;
    margin-top: 0.5rem;
    text-indent: 20px;
  }

  main {
    padding: 1em;
  }

  section {
    display: flex;
    justify-content: center;
    background-color: rgb(203, 197, 234);
  }

  aside {
    width: 100%;
  }

  #chapters-menu {
    display: flex;
    padding: 10px;
    border: 1px solid black;
  }

  #chapters-menu span {
    margin-left: 5px;
  }
  
  #chapters {
    width: 100%;
    text-align: center;
  }

  #chapters ul {
    list-style: none;
    display: none;
  }

  #chapters ul li {
    padding: 5px;
    border: 1px solid black;
  }

  #info {
    list-style: none;
    display: none;
  }

  #info-menu {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(203, 197, 234);
    
  }

  #info-menu span {
    margin-left: 5px;
  }

}
